<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name="com.example.android.schoolfinder.normalUsers.App">
        <activity android:name="com.example.android.schoolfinder.normalUsers.Activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.android.schoolfinder.normalUsers.WidgetsUtils.SavedSchoolWidget"
            android:permission="android.permission.BIND_REMOTEVIEWS">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/saved_school_widget_info" />
        </receiver>

        <activity android:name="com.example.android.schoolfinder.normalUsers.Activities.AuthenticationViewPagerActivity">

        </activity>
        <activity
            android:name="com.example.android.schoolfinder.normalUsers.Activities.SchoolDetailActivity"
            android:theme="@style/SchoolDetailTheme" />
        <activity
            android:name="com.example.android.schoolfinder.normalUsers.Fragments.SearchPageFragment"
            android:theme="@style/SchoolSearchTheme" />

        <activity
            android:name="com.example.android.schoolfinder.normalUsers.HomeActivity"
            android:theme="@style/SchoolSearchTheme" />
    </application>

</manifest>